{% extends "base.html" %}
{% load cms_tags cache menu_tags get_favs lazysignup_tags %}

{% block header %}
    <div data-role="header" data-backbtn="false">
        <h1>{% page_attribute page_title %}</h1>
        <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
    </div><!-- END: header -->
{% endblock %}

{% block content %}

<nav>
    <ul data-role="listview" data-filter="true" id="fav_list">
        {% get_favs for user as favs %}
        {% for slot in favs %}
            <li data-role="list-divider">{{ slot.start }} - {{ slot.end }}</li>
            
            {% for session in slot.sessions %}
                <li>
                {% if session.is_break %}
                    <h3>{{ session.title }}</h3>
                {% else %}
                    <a href="{{ session.url }}">
                        <h3 style="white-space:normal;">{{ session.title }}</h3>
                        <p><b>{{ session.speaker }}</b></p>
                        <p>{{ session.excerpt }}</p>
                        <p class="ui-li-count">{{ session.room|upper }}</p>
                    </a>
                    <a href="/fav/del/{{ session.id }}" data-rel="dialog" data-icon="delete" data-transition="slideup">Delete</a>
                {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</nav>

<script>
$("div").live('pageshow',function(event, ui){
    $('#fav_list').listview('refresh');
});
</script>

{% endblock %}