{% extends "base.html" %}
{% load cms_tags cache menu_tags lazysignup_tags %}

{% block header %}{% endblock %}

{% block content %}

<h1 id="logo">
    <a href="/">Developer Day Scotland</a>
</h1>

<nav>
    <ul data-role="listview" data-inset="true">
        {% show_menu 1 0 %}
    </ul>
</nav>

{% if not user.is_authenticated or user|is_lazy_user %}
<form action="/login/" method="post">{% csrf_token %}
    <div class="ui-body ui-body-b">
        <p><input type="text" name="username" placeholder="email" value=""  /></p>
        <p><input type="password" name="password" placeholder="password" value=""  /></p>
        <div class="ui-block-b">
            <button type="submit" data-theme="a">Login</button>
        </div>
    </div>
</form>

<p><a href="/register/" data-role="button" data-theme="b">Create an account</a></p>
{% endif %}

<div class="ui-body ui-body-b">
    <p><small>Built by <a href="http://www.thisislevelup.com">Level Up</a> in Glasgow, using Django, 
    jQuery Mobile and lots of Mountain Dew. Report bugs by finding 
    <a href="http://twitter.com/aaronbassett">this guy</a>.</small></p>
    <p><small>This site is open-source, 
    <a href="https://github.com/Level-Up/DDDM">fork it on Github</a>.</small></p>
    
    <div data-role="controlgroup" data-type="horizontal">
        <a href="http://twitter.com/thisislvlup" data-role="button"><small>Twitter</small></a>
        <a href="https://github.com/Level-Up" data-role="button"><small>Git</small></a>
        <a href="mailto:hello@thisislevelup.com" data-role="button"><small>Email</small></a>
    </div>
</div>

{% endblock %}