{% extends "base.html" %}
{% load cms_tags cache menu_tags %}

{% block header %}{% endblock %}

{% block content %}

<h1 id="logo">
    <a href="/">Developer Day Scotland</a>
</h1>

<nav>
    <ul data-role="listview" data-inset="true">
        {% show_menu 1 0 %}
    </ul>
</nav>

{% if not user.is_authenticated %}
<form action="/login/" method="post">
    <div class="ui-body ui-body-b">
        <p><input type="text" name="username" placeholder="username" value=""  /></p>
        <p><input type="password" name="password" placeholder="password" value=""  /></p>
        <div class="ui-block-b">
            <button type="submit" data-theme="a">Login</button>
        </div>
    </div>
</form> 
{% endif %}

{% endblock %}