{% extends "base.html" %}
{% load lazysignup_tags %}

{% block header %}
    <div data-role="header">
        <h1>Favourite Added</h1>
        <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
    </div><!-- END: header -->
{% endblock %}

{% block content %}

<h1 id="fav_added">New favourite created.</h1>
<p>You have added <b><a href="{{ session.get_absolute_url }}" data-transition="slidedown">{{ session.title }}</a></b> 
by <a href="{{ session.speaker.profile.get_absolute_url }}" data-transition="slidedown">
{{ session.speaker.first_name }} {{ session.speaker.last_name }}</a> to your list of favourites.</p>

{% if clash %}
    <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Oh no! You have a clash :(</li>
    {% for clash_session in clash %}
        <li><a href="{{ clash_session.session.get_absolute_url }}">{{ clash_session.session.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if not user.is_authenticated or user|is_lazy_user %}
<div class="ui-body ui-body-e">
    <p>You're not logged in, if your session expires you'll lose your favourites.</p>
    
    <div data-role="controlgroup" data-type="horizontal">
        <a href="/" data-transition="slidedown" data-role="button">Login</a>
        <a href="/register/" data-transition="slidedown" data-role="button">Register</a>
    </div>
</div>
{% endif %}


{% endblock %}