#logo {
    margin: 30px auto;
    width: 200px;
    
    a {
        background: transparent url(../images/logo.png) no-repeat;
        display: block;
        height: 101px;
        width: 200px;
        text-indent: -99999px;
    }
}